<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
    <ul>
    <li> <span class="text-muted"><h1>QUOKKA TRANSLATION</h1></span></li>
    <li><h5 class="text-white h4"><a href="/">INDEX</a></h5></li>
    <li><h5 class="text-white h4"><a href="/login">LOGIN</a></h5></li>
    <li><h5 class="text-white h4"><a href="/services">SERVICES</a></h5></li>
    <li><h5 class="text-white h4"><a href="/users">USERS</a></h5></li>
    <li><h5 class="text-white h4"><a href="/clients">CLIENTS</a></h5></li>
    </ul>
    </div>
</div>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
    <button
        class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarToggleExternalContent"
    aria-controls="navbarToggleExternalContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
    </button>
    </div>
</nav>