<div class="index-text">

    <h1>Quokka translations</h1>
<p>Servicios de traduccion</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam exercitationem eos, earum nisi est dolorem quasi! Nulla et, mollitia voluptatum neque, facilis voluptate, rerum quisquam doloremque optio facere cupiditate nisi.</p>

</div>






<div class="carousel-index">
    <!--  src="/images/tittle1.jpg"    src="/images/passport2.jpg"    src="/images/passport3.jpg"-->

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/tittle1web.jpg" class="d-block w-100" alt="1">
      <div class="carousel-caption d-none d-md-block">
        <h5>Traduccion de analiticos</h5>
        <p>Documentos universitarios, masters, posgrado y demás...</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/passport2web.jpg" class="d-block w-100" alt="2">
      <div class="carousel-caption d-none d-md-block">
        <h5>Traducción de documentos para visas</h5>
        <p>Todo tipo de documentación para visas </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/working-documentsweb.jpg" class="d-block w-100" alt="3">
      <div class="carousel-caption d-none d-md-block">
        <h5>Traduccion de documentos</h5>
        <p>Documentos legales, publicos, etc.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

