

<div class="titulos">
<div class="card">
  <div class="card-body">
    <h2>Tipos de servicios ofrecidos</h2>
  </div>
</div>
</div>

<!-- ____________________________________ -A = primer acordion  _________________________________________ -->
<div class="services-detail-1">
<div class="accordion accordion-flush" id="accordionFlushExample" >
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne-A">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-A" aria-expanded="false" aria-controls="flush-collapseOne-A">
        Traducciones legales y demás tipos.
      </button>
    </h2>
    <div id="flush-collapseOne-A" class="accordion-collapse collapse" aria-labelledby="flush-headingOne-A" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus officia suscipit laudantium eius quidem? Nulla fuga, pariatur dolorum fugit repudiandae dolore, accusamus soluta suscipit voluptatibus magnam, expedita nam praesentium corrupti.</div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo-A">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo-A" aria-expanded="false" aria-controls="flush-collapseTwo-A">
        Traducción juridica y documentos personales.
      </button>
    </h2>
    <div id="flush-collapseTwo-A" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo-A" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem earum officia velit adipisci in perferendis qui! Eveniet sint dicta debitis illum, facilis molestiae praesentium accusamus asperiores animi rem deserunt repudiandae?</div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo-2-A">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo-2-A" aria-expanded="false" aria-controls="flush-collapseTwo-2-A">
        Traducciones publicas. 
      </button>
    </h2>
    <div id="flush-collapseTwo-2-A" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo-2-A" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam adipisci temporibus cum itaque, officiis odio praesentium officia consequuntur dolores, cumque sit! Atque reiciendis nemo ea, placeat qui exercitationem beatae sapiente.</div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo-3-A">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo-3-A" aria-expanded="false" aria-controls="flush-collapseTwo-3-A">
        Traduccion de documentos para VISAS.
      </button>
    </h2>
    <div id="flush-collapseTwo-3-A" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo-3-A" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur repellat quos, fugiat velit ipsum, autem ea aliquid hic eaque consequuntur quam dolorum quaerat dolorem laboriosam eveniet alias obcaecati nulla at?</div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree-A">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree-A" aria-expanded="false" aria-controls="flush-collapseThree-A">
        Traducciones express.
      </button>
    </h2>
    <div id="flush-collapseThree-A" class="accordion-collapse collapse" aria-labelledby="flush-headingThree-A" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique animi praesentium ut impedit necessitatibus magnam temporibus fugiat provident quia enim! Sint repudiandae ducimus aspernatur magnam eos autem molestias asperiores consequatur.</div>
    </div>
  </div>
</div>

</div>


<div class="titulos">
<div class="card">
  <div class="card-body">
    <h2>Honorarios</h2>
  </div>
</div>
</div>

<!-- ____________________________________ Segundo acordion  _________________________________________ -->
<div class="service-detail-2">

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Tarifas
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quis quibusdam sit similique at numquam nobis animi sapiente, quam tenetur maiores voluptates officia quas sequi aut inventore voluptatibus tempore culpa?
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Formas de pago
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ipsum ex dolor commodi quis voluptates assumenda provident ducimus, placeat molestiae iste atque iusto incidunt perspiciatis rem reiciendis dignissimos! Iure, dolorem!
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Tiempos de entrega
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam alias iusto veritatis blanditiis dolorem quis sunt beatae voluptate quasi laboriosam laborum cumque aperiam omnis mollitia nisi animi velit, est obcaecati?
      </div>
    </div>
  </div>
</div>
</div>