body {
    position: relative;
    background-color: rgb(255, 255, 255);
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url(../images/BG1.jpg);
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  .login-text{
    margin-right: 50%;
    margin-left: 8%;
    text-align: center;
  }

.login{
    margin-right: 50%;
    margin-left: 3%;
    padding-bottom: 10%;
}


footer {
  
    color: darkgrey;
    position:relative;
    width: 100%;
    bottom: 0;
    text-align: center;
  }