body {
    position: relative;
    background-color: rgb(255, 255, 255);
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url(../images/bg05.jpg);
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  footer {
    color: darkgrey;
    position:relative;
    width: 100%;
    bottom: 0;
    text-align: center;
  }
  .services-detail-1 {
     
    margin: 3% 15% 3% 15%;
  }
      
  
  .service-detail-2{
    margin: 3% 15% 3% 15%;
    padding-bottom: 15%;
  }
  .titulos{
    margin: 3% 15% 3% 15%;


  }
  
