
html {
  height: 100%;
}
body {
  position: relative;
  background-color: rgb(245, 243, 243);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/BG1.jpg)  ;
  background-size: 100% ;
  background-repeat: no-repeat;
  backdrop-filter: blur(2px);
  min-height: 100vh;
}

footer {
  position:absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.clients_table{
  
  max-width: 100vh;
  padding-bottom: 5%;
}

.pagination-clients{
  margin-right: 50%;
}

.index-text{
  margin-right: 50%;
  
}

.carousel-index{
  padding-left: 4%;
  margin: 90px, 150px;
  width: 30%;
  height: 20%;
}

.login{
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 50%;
  
  padding-bottom: 10%;
}

.table{
  width: 100%;
}